@model List<WebBanSach.Models.Book>
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h3 class="text-center text-primary fw-bold mt-3 mb-5">@ViewBag.Title</h3>

<div class="container-fluid mb-5">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "MyForm" }))
    {
        <div class="row">
            <div class="col-md-12">
                @Html.Label("Sắp xếp")
                @Html.DropDownList("sort", new List<SelectListItem>
                {
                    new SelectListItem{Text = "Sắp xếp theo ID", Value = "BookID"},
                    new SelectListItem{Text = "Sắp xếp theo tên sách", Value = "Name"},
                    new SelectListItem{Text = "Sắp xếp theo giá tiền", Value = "Price"},
                }, "Chọn cách sắp xếp...", new { @class = "form-control ms-3", style = "width: auto" })
            </div>
        </div>
    }
</div>
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body text-center" style="height: 550px">
                        <a href="/Home/Detail/@item.BookID"><img class="card-img-top" src="@item.Image" /></a>
                        <p class="card-text fs-5">@item.Name</p>
                        <p class="card-text text-danger fw-bold">@item.Price.ToString("N0") VNĐ</p>
                    </div>
                    <div class="card-footer text-center">
                        @using (Html.BeginForm("Add", "Cart", FormMethod.Get))
                        {
                            <button class="btn btn-primary w-25" type="submit" name="id" value="@item.BookID">Buy</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            @{
                int PrevP = ViewBag.Page - 1;
                if (PrevP <= 0)
                {
                    PrevP = 1;
                }
                int NextP = ViewBag.Page + 1;
                if (NextP > ViewBag.NoPages)
                {
                    NextP = ViewBag.NoPages;
                }
            }
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="/Home/Index?sort=@ViewBag.SortCol&page=@PrevP">PrevP </a>
                </li>
                @for (int i = 0; i < ViewBag.NoPages; i++)
                {
                    if (i + 1 == ViewBag.Page)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/Home/Index?sort=@ViewBag.sort&page=@(i+1)">@(i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Home/Index?sort=@ViewBag.sort&page=@(i+1)">@(i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="/Home/Index?sort=@ViewBag.sort&page=@NextP">NextP </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#sort').change(function () {
            $('#MyForm').submit();
        });
    });
</script>
